body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

.product-card {
    cursor: default;
    position: relative;
    transition: .2s;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-card__container {
    overflow: hidden;
}

.product-card__image {
    background-color: #0d0d0d;
    box-shadow: 0 0 100px 40px rgba(0, 0, 0, .8);

    aspect-ratio: 700 / 390;

    object-fit: cover;

    line-height: 3em;
    text-align: center;
}

.product-card__body {

}

.product-card__brand {
    color: #aaa;
}

.product-card__brand:empty::before {
    content: '\00A0';
}

.product-card__title {

}

.product-card__description {

}

.product-card__price {

}

.product-card__button-add {

}
